button {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

img {
    height: 200px;
    width: 200px;
    border: 2px solid black;
}

#currentCat {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#catImage {
    cursor: pointer;
}

#content {
    display: flex;
    justify-content: space-between;
}